<beans>
    <bean id="userService" class="spring.study.usermanager.service.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id = "userDao" class = "spring.study.usermanager.dao.UserDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
        <init-method name="init"></init-method>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" scope="sigleton">
        <property name="url" value="jdbc:h2:mem:test;INIT=RUNSCRIPT FROM 'classpath:init.sql'"></property>
        <property name="userName" value="sa"></property>
        <property name="password" value=""></property>
        <property name="driverClassName" value="org.h2.Driver"></property>
    </bean>
</beans>